<h3>Signup form</h3>
<h2>Welcome, in just a minute, we'll get you to your archive, where you can start recording the good that you do. First, we'll need to get you signed up. </h2>

<form action="/signup/signup_form" method="POST">

  <label for="username">Your username</label>
  <input type="text" name="username" >

  <label for="email">Your email</label>
  <input type="text" name="email">

  <label for="password">Your password</label>
  <input type="text" name="password" >

  <input type="submit" value="signup">
</form>

MAKE HELPER FOR THIS