<h2>Plans for Future Actions</h2>

 <% if @user && @user.errors.any? %>
    <h3 style="color: red;"><%= @user.errors.full_messages.first %></h3>
 <% end %>
 
<h3 class="link"><a href="/futures/new">Add another</a></h3>


<h3>Next, I want to:</h3>

	<ol>
		<% @futures.each_with_index do |future, index| %>
			<% if future.title != nil %>
				<li> <a href='/futures/<%= future.id %>'>
				<%= index + 1 %> . <%= future.title %> </li>
				</a>
				<br>
			<% end %>
		<% end %>
	</ol>

#added line 14 because somehow the validation wasn't working. 
