<h4>In the future I want to... </h4>


<form action="/futures" method="POST">
 <br>

  	<li>
     	<input type="text" name="future[title]" ></input>
 	</li>

  <input type="submit" value="Create">
</form>

<h3><a href="/things/index">See all your actions</a></h3>
<h3><a href="/users/logout">Logout</a></h3>



