<h4>futures new </h4>

<form action="/futures/new" method="POST">

<form action="/futures" method="POST">
  <label>Next:/label>
 
  <br></br>
 
  <input type="text" name="futures[title]" id="futures"></input>
 
  <input type="submit" value="Create">
</form>


# table will need future_act_1, 2 and 3
# ***

# <label for="future-act-1"> 
# 	<input class="todo-item-checkbox" type="checkbox">In the future I want to: </label>
# 	<input id="future-act" class="todo-input todo-new" type="text" name="future-act" placeholder="">
    

#       <br>
# 	  <br>
# 	<label for="future-act-1"> In the future I want to: </label>
# 	<input type="text" name="title">
# 	  <br>
# 	  <br>
# 	<input type="text" name="title">
# 	<input type="text" name="title">
# 	<!-- 	share with others?  twitter, etc. -->	
#  	<input type="submit" value="Great Job!">

# </form>

# <input id="todo-new" class="todo-input todo-new" type="text" placeholder="New Todo">