<h4>In the future I want to... </h4>


<form method="POST" action="/futures" >
 <br>

  	<li>
  		<label for="title">Title:</label>
     	<textarea rows="4" cols="100" maxlength="200" name="future[title]" id= "title"></textarea> <br>
 	</li>
	 

  <input type="submit" value="Planning ahead">
</form>


<h3><a href="/futures">See all your future ideas</a></h3>
<h3><a href="/things">See your past actions</a></h3>
<h3><a href="/users/logout">Logout</a></h3>





