<h4>futures new </h4>

<form action="/futures" method="POST">
  <label for >Next I want to:</label>
 
  <br></br>
 
  <input type="text" name="future[title]" id="futures"></input>
 
 	Add another? how do i do this? 
  <input type="submit" value="Create">
</form>



