
<h3>Next I want to: <%= @future.title %></h3>

<h3> <a href="/futures/<%= @future.id %>/edit">Edit</a></h3>

<h3 class="link"><a href="/futures">See your future plans</a></h3>
<h3 class="link"><a href="/things">See all your actions</a></h3>
<h3 class="link"><a href="/users/logout">Logout</a></h3>

<h3>
<form action="/futures/<%= @future.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form></h3>

