
<h2>Edit</h2>

<form action="/things/<%= @thing.id %>" method="POST">
  
  <input type="hidden" name="_method" value="PATCH">
  
  <input type="date" name="date">
  <input type="text" name="title">
  <input type="textarea" name="description" id="description">
  	<%= @thing.description %>
  	</textarea>

  <input type="submit" name="edit" value="submit">
  
</form>