<h3>New Action</h3>
<h2>Edit</h2>

<form action="/things/<%= @thing.id %>" method="POST">
  
  <input type="hidden" name="_method" value="PATCH">
  
  <textarea name="description" id="description">
  	<%= @thing.description %>
  	</textarea>

  <input type="submit" name="Edit Description" value="submit">
</form>