
<h2>Small daily actions add up.</h2>
<p>Welcome, <%= current_user.username %>, </p>

<ol>
	<% @things.each do |thing| %>
	
		<li><%= thing.date %> <%= thing.title %> -- <%= thing.description %></li>
	
	<% end %>
</ol>
<br>

<h3><a href="/things/new">Add something new</a></h3>
<h3><a href="/users/index">See all your actions</a></h3>
<h3><a href="/sessions/logout">Logout</a></h3>
