
<h2>Small daily actions add up.</h2>
<p>Welcome, <%= current_user.username %>, </p>
(Probably need to make current_user into a helper, or user.username)
<ol>
	<% @things.each do |thing| %>
	
		<li><%= thing.date %> <%= thing.title %> -- <%= thing.description %></li>
	
	<% end %>
</ol>
<br>

<h3><a href="/thing/new">Add a new act.</a></h3>
<h3><a href="/users/index">See all the acts</a></h3>
<h3><a href="/sessions/logout">Logout</a></h3>
