<h3>Today <%= current_user.username %> did: <h3>

<form action="/things" method="POST">

	<label for="date">Date</label>
	<input type="date" name="date">
      <br>
	  <br>
	<label for="title">Title</label>
	<input type="text" name="title">
	  <br>
	  <br>
	<label for="description">Description</label>		
	<textarea rows="1" cols="25" maxlength="50" name="description" id= "description" ></textarea>	
	  <br>
	  <br>
 	<input type="submit" value="Well done!">

</form>

<h3><a href="/things/index">See all your actions</a></h3>
<h3><a href="/users/logout">Logout</a></h3>

