<h2>What I did today: </h2>

<ul>
	<li><%= @thing.title %>ß</li>
	<li><%= @thing.description %></li>
</ul>

<h3> <a href="/things/<%= @thing.id%>/edit">Edit</a></h3>
<h3> DELETE </h3>
<h3><a href="/things">See all my actions</a></h3>
<h3><a href="/sessions/logout">Logout</a></h3>

