DOES ANYTHING REDIRECT HERE? 
<h3>Logout</h3>
<h2> Keep resisting, and thanks for letting us hold your action list.</h2>

  <li><a href="/users/login">Login</a> </li>
  <li><a href="/users/signup">Sign up</a> </li>
  <li><a href="/users/logout">Logout</a> </li>
 