Is this home page? or user home page? Where is the root/home page? --> welcome.erb is root 

<h2>Be inspired. Persist. Look how it adds up! </h2>

<ol>
	<% @acts.each do |act| %>
	  <li>
	    <%= act.title %> -- <%= act.description %>
	  </li>
	<% end %>
</ol>

<h3><a href="/acts/new">Add a new action</a></h3>
<h3><a href="/sessions/logout">Log out </a></h3>
