Is this home page? or user home page? Where is the root/home page? --> welcome.erb is root 
and things/index is the users things home page 

Where does this belong, and how do you get there? 
	
<h2>Be inspired. Persist. Look how it adds up! </h2>

<ol>
	<% @things.each do |thing| %>
	  <li>
	    <%= thing.title %> -- <%= thing.description %>
	  </li>
	<% end %>
</ol>

<h3><a href="/things/new">Add a new action</a></h3>
<h3><a href="/sessions/logout">Log out </a></h3>
