<h2>Be inspired. Persist. Look how it adds up! </h2>

<ol>
	<% @acts.each do |act| %>
	  <li>
	    <%= acts.title %> -- <%= acts.description %>
	  </li>
	<% end %>
</ol>

<h3><a href="/acts/new">Add a new action</a></h3>
<h3><a href="/sessions/logout">Log out </a></h3>
