
<h2>Login, so you can record the good that you do. </h2>

<form action="/users/login" method="POST">

  <label for="username">Your username</label>
  <input type="text" name="username" >
  <br>
  <br>
  <label for="email">Your email</label>
  <input type="email" name="email">
  <br>
  <br>

  <label for="password">Your password</label>
  <input type="password" name="password">
  <br>
  <br>

  <input type="submit" value="Signup">
</form>
