<h3>In the future</h3>
<h2>Write down things you want to do in the future.</h2>

	3-5 
<form action="/future_acts" method="POST">
	  <br>
	  <br>
	<label for="title">Title</label>
	<input type="text" name="title">
	  <br>
	  <br>
	 <label for="2">Title</label>
	 <textarea name="2"></textarea>	
	  <br>
	  <br>
	<label for="3">Title</label>
	<textarea name="3" id= "3" ></textarea>	
	  <br>
	  <br>
	
	<!-- share with others?  twitter, etc. -->	
 	<input type="submit" value="Save">

</form>

Decide: text or textarea; remind myself of how to make any number of entries. 
