

<h1>Do Something Journal </h1>

<h3>Feel like your political and community actions are not adding up?</h3>
</h3>Keep track of all you do to make your community/world/nation/globe a better place. </h3>


<ul>
    <% if logged_in? %>
      
      <li><a href="/things/new">What did you do today? </a> </li>
      <li><a href="/sessions/logout">Logout</a> </li>
    
    
    <% else %>
      <li><a href='/sessions/login_form'>Login</a> </li>
      <li><a href="/signup/signup_form">Sign up</a> </li>

    <% end %>
</ul>

<div id="doing">
<h3 class="color2"> What are people doing? </h3>
<ul>
  <% @things.each do |thing| %>
    <li>
      <%= thing.title %>
      <%= thing.description %>
    </li>
  <% end %>
</ul>
</div>

