<div class="topnav">
  <ul >
      <% if logged_in? %>  
          <li class="nav"><a href="/things/new">What did you do today? </a> </li>
          <li class="nav"><a href="/users/logout">Logout</a> </li>
      
      <% else %>
          <li class="nav"><a href='/users/login'>Login</a> </li>
          <li class="nav"><a href="/users/signup">Sign up</a> </li>
      <% end %>
  </ul>
</div>

<br>

<h1>Do Something Now </h1>

</h3>Keep track of all you do to make your community/world/nation/globe a better place. See it add up. </h3>

<div id="doing">
  <h3> What are people doing? </h3>
      <ul>
        <% @things.each do |thing| %>
          <li>
             <%= thing.title %> -- <%= thing.description %>
          </li>
            <br>
        <% end %>
      </ul>
</div>

