


<h1>Do Something Journal </h1>

</h3>Keep track of all you do to make your community/world/nation/globe a better place. See it add up. </h3>


<ul class="navbar">
    <% if logged_in? %>
      
      <li class="nav"><a href="/things/new">What did you do today? </a> </li>
      <li class="nav"><a href="/users/logout">Logout</a> </li>
    
    
    <% else %>
      <li class="nav"><a href='/users/login'>Login</a> </li>
      <li class="nav"><a href="/users/signup">Sign up</a> </li>

    <% end %>
</ul>

<div id="doing">
<h3> What are people doing? </h3>
<ul>
  <% @things.each do |thing| %>
    <li>
      <%= thing.title %> -- <%= thing.description %>
    </li>
  <% end %>
</ul>
</div>

